	<div id="posts">		
		<% @posts.each do |post| %>
			<div class="post">
				<%= image_tag post.image.url(:thumb) %>
				<h2><div class="title">
				<%= link_to post.title, post %>
				</div></h2>
				<p><div class="date">
				<h3>published at <%= time_ago_in_words(post.created_at) %> by <%= post.user.email %></h3>
				</div></p>
			</div>
				<% end %>
	</div>

	
